.cus-bg-patterns {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/seigaiha.png);
}
.cus-bg-color{
  background-color: $secondary;
}
.cus-bg-lighter{
  background-color: #A7B7BC80;
}
.cus-bg-white{
  background-color: #ffffff99;
}
.bg-style{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}