$home-banner: '@/assets/img/home-banner.avif';
$products-banner: '@/assets/img/products-banner.avif';
$faq-banner: '@/assets/img/faq-banner.avif';
$cart-banner: '@/assets/img/cart-banner.avif';
$login-banner: '@/assets/img/login-banner.avif';

.home-banner {
  height: 750px;
  object-fit: fill;
  background-image: url($home-banner);
  @media (min-width: 992px) {
    background-attachment: fixed;
  }
}
.products-banner{
  height: 400px;
  background-image: url($products-banner);
}
.faq-banner{
  height: 400px;
  background-image: url($faq-banner);
}
.cart-banner{
  height: 250px;
  background-image: url($cart-banner);
}
.login-banner{
  height: 100vh;
  background-image: url($login-banner);
}