$intro-one-day: 'https://images.unsplash.com/photo-1540206351-d6465b3ac5c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80';
$intro-abroad: 'https://images.unsplash.com/photo-1562742686-0b38a29473ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80';
$intro-domestic:'https://images.unsplash.com/photo-1573551089778-46a7abc39d9f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80';
$coupon-bg: 'https://images.unsplash.com/photo-1637904219134-9075cab500f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80';

// 品牌理念
.circle-s{
  width: 150px;
  height: 150px;
  border: 1px solid #ffffff4D;
  left: 26%;
  top:18%;
}
.circle-l{
  width: 350px;
  height: 350px;
  border: 1px solid #ffffff4D;
  right: 40%;
  top:10%
}
.purpose{
  top:55%;
  left:60%;
  width:75%;
  @media (min-width:768px){
    width:40%;
  }
}
.svg-top {
  bottom:90%;
  @media (min-width:768px){
    bottom:80%;
  }
}
// 行程介紹
.svg-bot {
  bottom: -45%;
}
.between-svg{
  background: $secondary;
  height: 510px;
  width: 100%;
}
.intro-list-container{
  width: 100%;
  top: 48%;
}
.intro-list{
  flex-direction: column;
  @media (min-width:768px){
    flex-direction: row;
    justify-content: space-between;
  }
}
.intro-style{
  height: 120px;
  width: 100%;
  text-shadow: 1px 1px 5px $secondary;
  position: relative;
  overflow: hidden;
  .intro-txt{
    width: 100%;
    position: absolute;
    bottom:-10%;
    transition: all .5s;
    p{
      opacity: 0;
    }
  }
  @media (min-width:768px){
    height: 400px;
    width: 34%;
    transition: all .5s;
    &:hover{
      width: 66%;
      .intro-txt{
        bottom:0%;
        p{
          opacity: 1;
        }
      }
    }
  }
}
.intro-one-day {
  background-image: url($intro-one-day);
}
.intro-abroad{
  background-image: url($intro-abroad);
  margin-top: 10px;
  margin-bottom: 10px;
  @media (min-width:768px){
    border-left: $secondary solid 10px;
    border-right: $secondary solid 10px;
    margin: 0;
  }
}
.intro-domestic{
  background-image: url($intro-domestic);
}
.intro-icon{
  animation:move 3s infinite;
}
@keyframes move{
  from{
    top:0%;
    }
    to{
    top:5%;
    }
}
.collapse-q:hover{
  color: $info;
}
.arrow-active{
  display: inline-block;
  color: $info;
  transform: rotate(90deg);
  transition: transform .5s;
}
.coupon-bg{
  height: 350px;
  background-image: url($coupon-bg);
  background-attachment: fixed;
  filter:saturate(0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100px;
  @media (min-width: 768px){
    background-position: center 200px;
  }
  @media (min-width: 992px) {
    background-position: center;
  }
}
.btn-cus-hover{
  width: 150px;
  height: 45px;
  text-align: center;
  z-index: 100;
  background-color: transparent;
  border: 2px solid $info;
  color: $info;
  text-decoration: none;
  position: relative;
  transition: all .3s linear;
  p{
    line-height: 40px;
    margin: 0;
    font-weight: 600;
    position: relative;
    z-index: 1;
  }
  &::before{
    content: "";
    width: 0%;
    height: 100%;
    display: block;
    background-color: $info;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
  }
  &:hover{
    color: $primary;
  }
  &:hover::before{
    width: 100%;
  }
}
.navbar-color{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: $primary;
  @media (min-width: 768px){
    box-shadow: none;
    background: transparent;
  }
}